{% extends "template.njk" %}

{% block header %}
  Список посетителей
{% endblock %}

{% block body %}
  {% if master %}
    <div class="alert alert-info">
      Данный сервер сконфигурирован как ведущий сервер.
    </div>
  {% endif %}

  {% if process_conflicts %}
    <div class="alert alert-success">
      Данный сервер автоматически разрешает все конфликты
      в фоновом режиме.
    </div>
  {% endif %}

  {% if bad_url %}
    <div class="alert alert-danger">
      Внимание! <code>local_url</code>, указанный
      в&nbsp;<code>config.json</code>, нельзя использовать
      для&nbsp;удалённого подключения
      к&nbsp;данному компьютеру.
    </div>
  {% endif %}

  <div class="alert alert-info">
    Ведущий сервер:
    {% if master_url %}
      <a href="{{ master_url }}/_utils/" target="_blank">
      {{ master_url }}</a>
    {% else %}
      недоступен.
    {% endif %}
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button"
          data-toggle="collapse" data-target="#collapseIps">
          Список IP-адресов
        </button>
      </h5>
    </div>

    <div id="collapseIps" class="collapse">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for name, ips in interfaces %}
            <li class="list-group-item">
              <b>{{ name }}: </b>
              <tt>{{ ips | join(', ', 'address') }}</tt>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  Тут должна быть таблица, но я её не нарисовал :(
{% endblock %}