<!doctype html>
<html>
<head>
  <title>ВКР Артема Лещева</title>
</head>
<body>
  <h1>{% block header %}
    Загружен шаблон вместо непосредственно документа.
  {% endblock %}</h1>
  {% block body %}
    Здесь должно быть содержимое страницы.
  {% endblock %}
</body>
</html>