<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
    href="/bootstrap/css/bootstrap.min.css">

  <title>ВКР Артема Лещева</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Тестовая программа</a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarInner">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarInner">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Список</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stats">Статистика</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Создать</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"
              href="{{local_url}}/_utils/"
              target="_blank">СУБД</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>{% block header %}
      Загружен шаблон вместо непосредственно документа.
    {% endblock %}</h1>
    {% block body %}
      Здесь должно быть содержимое страницы.
    {% endblock %}
  </div>
  <script src="/jquery/jquery.slim.min.js"></script>
  <script src="/popper.js/umd/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/chart.js/Chart.bundle.min.js"></script>
  {% block script %}{% endblock %}
</body>
</html>